  
 <div class="slider">
		<ul class="slides">
			<li>
				<img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
				<div class="caption center-align">
					<h3>DEBATING SOCIETY</h3>
					<h5 class="light grey-text text-lighten-3">"If we agreed that easily, we will be having a quote here"</h5>
				</div>
			</li>
			<li>
				<img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
				<div class="caption left-align">
					<h3>Left Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
				<div class="caption right-align">
					<h3>Right Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
				<div class="caption center-align">
					<h3>This is our big Tagline!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
		</ul>
</div>

<div class="topic center">
	<h3>What Do We do?</h5>
</div>

<div class="what_do_we_do container">
	<div class="row center">

	      <div class="col s4 bullet">
	        <!-- Promo Content 1 goes here -->
	        <h5>Debate!!!</h5>
	        <p>
	        	Of course we debate. Formal ,informal, parliamentary. You name it and chances are we will be doing it.
	        </p>

	      </div>
	      <div class="col s4 bullet">
	        <!-- Promo Content 2 goes here -->
	        <h5>Workshops</h5>
	        <p>Workshops to teach everyone the art of debating. Weekly classes to help students overcome fear of stage and bring out the best in him.</p>
	      </div>
	      <div class="col s4 bullet">
	        <!-- Promo Content 3 goes here -->
	        <h5>Gymkhana Debates</h5>
	        <p>
	        	Doing debates during the gymkhana to help you get a better perspective of the candidates.
	        </p>
	      </div>

    </div>

    <div class="row center">

	      <div class="col s4 bullet">
	        <!-- Promo Content 1 goes here -->
	        <h5>Online Debate</h5>
	        <p>
	        	Online debates for those introverts who are shy to express themselves on the stage. Now argue from the comfort of your room.
	        </p>

	      </div>
	      <div class="col s4 bullet">
	        <!-- Promo Content 2 goes here -->
	        <h5>Events</h5>
	        <p>
	        	You will find us in almost all the fests in the college. We add the spice in the fests through our fiery debating events 
	        </p>
	      </div>
	      <div class="col s4 bullet">
	        <!-- Promo Content 3 goes here -->
	        <h5>Manthan</h5>
	        <p>
	        	Brainstorm to make your college life even better. 
	        </p>
	      </div>

    </div>
</div>